.nt-card {
    a{
        font-weight: 800;
        color: $grey-blu;
    }

    font-size: 13px;
    padding: 12px 16px;
    background-color: $grey-blu-vl;

    margin-bottom: 6px;

    display: flex;

    &__pfp{
        height: 36px;
        width: 36px;
        margin-right: 16px;
    }

    &__text-sect{
        display: flex;
        flex-direction: column;
    }

    &__text-top{
        display: flex;
        align-items: center;
    }

    &__name{
        color: $blue-vd !important;
    }

    &__group{
        color: $blue !important;
    }

    &__time{
        margin-top: 2px;
        color: $grey-blu;
    }

    &__img{
        height: 36px;
        width: 36px;
    }
    
    &__message{
        margin-top: 8px;
        border: 1px solid $grey-blu-l2;
        padding: 16px;
        border-radius: 4px;
    }


    &__indicator{
        height: 6px;
        width: 6px;
        padding: 0;
        margin-left: 8px;
        border-radius: 6px;
        background-color: $red;
    }
}

.content-sect--img{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#post-title{
    color: $grey-blu-d;
}

#group-name{
    color: $blue;
}