// COLOURS

// main
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// neutrals

$white: hsl(0, 0%, 100%);
$grey-blu-vl: hsl(210, 60%, 98%);
$grey-blu-l1: hsl(211, 68%, 94%);
$grey-blu-l2: hsl(205, 33%, 90%);
$grey-blu: hsl(219, 14%, 63%);
$grey-blu-d: hsl(219, 12%, 42%);
$blue-vd: hsl(224, 21%, 14%);

// FONTS

